<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.topjuantech_ojt">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TopJuanTech_OJT"
        tools:targetApi="31">
        <activity
            android:name=".CategoryAttractions"
            android:exported="false" />
        <activity
            android:name=".CategoryHotels"
            android:exported="false" />
        <activity
            android:name=".CategoryHospitals"
            android:exported="false" />
        <activity
            android:name=".CategoryGovernment"
            android:exported="false" />
        <activity
            android:name=".CategoryGasStations"
            android:exported="false" />
        <activity
            android:name=".CategoryFoodSpots"
            android:exported="false" />
        <activity
            android:name=".CategoryBeverages"
            android:exported="false" />
        <activity
            android:name=".CategoryBanks"
            android:exported="false" />
        <activity
            android:name=".CategoryAmusement"
            android:exported="false" />
        <activity
            android:name=".AdminNavigation"
            android:exported="false" />
        <activity
            android:name=".City"
            android:exported="false" />
        <activity
            android:name=".SliderAdapter"
            android:exported="false" />
        <activity
            android:name=".UserDashboard"
            android:exported="false" />
        <activity
            android:name=".ResetPassword"
            android:exported="false" />
        <activity
            android:name=".NavigationDrawer"
            android:exported="false" />
        <activity
            android:name=".AdminDashboard"
            android:exported="false" />
        <activity
            android:name=".ManageOTP"
            android:exported="false" />
        <activity
            android:name=".SignInNumber"
            android:exported="false" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".ForgotPassword"
            android:exported="false" />
        <activity
            android:name=".SignInVerification"
            android:exported="false" />
        <activity
            android:name=".RegistrationEstablishment"
            android:exported="false" />
        <activity
            android:name=".RegistrationManager"
            android:exported="false" />
        <activity
            android:name=".RegistrationUser"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>